.error {
    color: red;
    font-style: italic;
}

img.thumbnail {
    max-width: 200px;
    max-height: 200px;
}

img.article {
    max-width: 400px;
    max-height: 400px;
    margin-right: 35px;
    margin-bottom: 20px;
    float: left;
}

.body-container {
    min-height: 100vh;
}

#body {
    padding: 0 80px;
}

.side-nav-bar {
    margin-left: -30px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.icon {
    font-size: 60px;
}

.title {
    font-weight: bolder;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

.media-body {
    min-width: 250px !important;
}
